@import url(https://fonts.googleapis.com/css2?family=Cardo:wght@100;200;300;400;500;600;700&display=swap);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cardo', serif;
    background: black;
    overflow-x: hidden;
}

.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 30px;
    background: black;
}

.div1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33.3333%;
    color: white;
}

.Nav div:nth-child(1) svg {
    font-size: 30px;
    color: #27A757;
}

.div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33.3333%;
    color: grey;
    gap: 20px;
}

.div2 div a {
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
}

.div2 a:hover {
    color: white;
}

.div2 a:nth-child(1) {
    color: white;
}

.div3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33.3333%;
    color: white;
    gap: 10px;
}

.div3 svg {
    font-size: 30px;
    transition: 0.5s;
}

.div3 svg:hover {
    color: #27A757;
}

.gallery {
    position: relative;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    width: 150px;
    top: 100%;
    left: 0;
    color: white;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: none;
    border: 1px solid #444;
    z-index: 10;
}

.dropdown li {
    padding: 5px 20px;
    cursor: pointer;
}

.dropdown li:hover {
    background: #27A757;
}

.gallery:hover .dropdown {
    display: block;
    background: black;
}

.deep-dropdown {
    position: absolute;
    left: -200px;
    top: 200px;
    width: 200px;
    color: white;
    list-style: none;
    padding: 10px 0;
    display: none;
    border: 1px solid #444;
}

.dropdown li:hover .deep-dropdown {
    display: block;
    background: black;
}

.text {
    width: 100%;
    height: 75vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 0px 20px;
}

.top {
    text-align: center;
    color: white;
    padding: 50px 20px;
}

.top h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
}

.top h1 span {
    color: #34d399;
    background-color: rgba(52, 211, 153, 0.2);
    padding: 0 5px;
    border-radius: 4px;
}

.top h5 {
    font-size: 1rem;
    color: #9ca3af;
    margin: 20px 0;
}

.top button {
    background-color: #34d399;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.top button:hover {
    background-color: #10b981;
}

.galleryn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    height: 90vh;
    padding-bottom: 30px;
}

.galleryn div {
    width: 24%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.galleryn div img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.galleryn div:hover img {
    transform: scale(1.1);
}

.pas {
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.pas p {
    margin: 10px 0;
    font-size: 14px;
}

.pas .pas-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}

.pas-icons svg {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    padding: 10px 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 18px !important;
    transition: 0.5s
}

.pas .pas-icons>svg:hover {
    color: #1e90ff;
    border: 1px solid #1e90ff;
}

.pas span {
    color: #10b981;
    cursor: pointer;
}

.text .About {
    font-size: 64px;
}

.chiziq {
    width: 100%;
    height: 70px;
    background: #191919;
    margin: 20px 0px;
    gap: 10px;
    display: flex;
    align-items: center;
    padding-left: 150px;
    color: white;
}

.chiziq h4:nth-child(1) {
    color: #10b981;
}

.about-container {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.about-info-row {
    display: flex;
    justify-content: space-between;
}

.about-image-column {
    width: 50%;
    margin-right: 20px;
    display: flex;
    align-items: self-start;
    justify-content: flex-end;
}

.about-image {
    width: 370px;
    height: 530px;
    height: auto;
    border-radius: 10px;
}

.about-text-column {
    display: flex;
    margin-right: 150px;
    flex-direction: column;
    width: 550px;
    height: 650px;
}

.about-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-description {
    color: #ccc;
}

.about-info-column {
    flex: 1;
    margin-right: 20px;
}

.about-info-list {
    list-style: none;
    padding: 0;
}

.about-info-list li {
    margin-bottom: 10px;
}

.about-info-list strong {
    color: white;
}

.about-info-list svg {
    color: #27A757;
}

.about-info-list a {
    color: white;
    text-decoration: none;
}

.about-info-list a:hover {
    text-decoration: underline;
}

.about-text {
    color: #fff;
}

.Testimonials {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: self-start;
    padding: 0px 150px;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-bottom: 20px;
}

.Befor {
    display: flex;
    gap: 5px;
    align-items: center;
}

.befoore{
    width: 150px;
    height: 1px;
    background: #27A757;
}